*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue' ;
}
header{
    width: 100vw;
    height: 50px;
    background-color: #0A0903;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.nameBlog{
    display: flex;
    flex-direction: column;
}
p{
    color: white;
}
ul{
    display: flex;
    list-style: none;
}